doctype html
html
    head
        title #{pageTitle} | #{siteName}
    body
        p
            h1 Are you sure you wanna logout?
        a(href=routes.home)
            h5 Yes
        a(href=routes.home)
            h5 No